In [1]:
import sqlite3

In [13]:
conn = sqlite3.connect('./test.db')
cursor = conn.cursor()

# Ejecutar la consulta SELECT *
cursor.execute("SELECT * FROM resultado_imagen")

# Obtener los resultados de la consulta
resultados = cursor.fetchall()
print(resultados)

# Recorrer los resultados e imprimir los valores
print(resultados[1][3])
for indice,recorrido in enumerate(resultados):
    if (resultados[indice][3]=="2023-05-23 14:52:58.694936"):
        print(resultados[indice][0])
# Cerrar la conexión
conn.close()

[(1, 313, 'D:/Alexander_Espinosa/Tesis_Maestria/data/101FPLAN', '2023-05-23 14:52:58.694936'), (2, 313, 'D:/Alexander_Espinosa/Tesis_Maestria/data/101FPLAN', '2023-05-23 15:07:39.591554')]
2023-05-23 15:07:39.591554
1

In [4]:
conn = sqlite3.connect('./test.db')
cursor = conn.cursor()

# Ejecutar la consulta SELECT *
cursor.execute("SELECT * FROM registro_carpeta")

# Obtener los resultados de la consulta
resultados = cursor.fetchall()

# Recorrer los resultados e imprimir los valores
for fila in resultados:
    for valor in fila:
        print(valor)
    print()

# Cerrar la conexión
conn.close()

1
313
D:/Alexander_Espinosa/Tesis_Maestria/data/101FPLAN
2023-05-23 14:52:58.694936

2
313
D:/Alexander_Espinosa/Tesis_Maestria/data/101FPLAN
2023-05-23 15:07:39.591554

3
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 15:39:29.291269

4
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 15:40:24.101088

5
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 15:41:36.108852

6
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 15:45:05.855076

7
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 15:46:20.007798

8
96
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/101FPLAN
2023-05-23 15:49:12.617665

9
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-23 16:01:07.417093

10
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-25 16:49:50.572886

11
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-25 16:50:50.207720

12
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-25 16:51:20.760656

13
7
D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN
2023-05-25 17:05:03.192244

In [19]:
import sqlite3

# Conectar a la base de datos
conexion = sqlite3.connect('./test.db')
cursor = conexion.cursor()

# Definir los valores de nombre_imagen y id_registro_carpeta
nombre_imagen = "DJI_0050.JPG"
id_registro_carpeta = 8

# Consultar el id de la fila con nombre_imagen y id_registro_carpeta especificados
cursor.execute("SELECT id FROM tabla_imagenes WHERE nombre_imagen = ? AND id_registro_carpeta = ?", (nombre_imagen, id_registro_carpeta))
resultado = cursor.fetchone()

if resultado is not None:
    id_fila = resultado[0]
    print(f"El id de la fila con nombre_imagen '{nombre_imagen}' y id_registro_carpeta {id_registro_carpeta} es: {id_fila}")
else:
    print("No se encontró ninguna fila con los criterios especificados")

# Cerrar la conexión
conexion.close()

El id de la fila con nombre_imagen 'DJI_0050.JPG' y id_registro_carpeta 8 es: 12

In [12]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
cursor = conexion.cursor()

# Nombre a buscar
nombre = "D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN"

# Ejecutar la consulta
cursor.execute("SELECT id FROM registro_carpeta WHERE ruta_carpeta = ?", (nombre,))
row = cursor.fetchone()

if row is not None:
    id_encontrado = row[0]
    print(f"ID encontrado: {id_encontrado}")
else:
    print("No se encontró ningún ID para el nombre especificado")

# Cerrar la conexión
conexion.close()

ID encontrado: 3

In [11]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
conexion.execute("PRAGMA foreign_keys = 1")

id_tabla1 = 3  # ID del registro de tabla1

cursor = conexion.cursor()
cursor.execute("SELECT * FROM tabla_imagenes WHERE id_tabla1 = ?", (id_tabla1,))
rows = cursor.fetchall()

for row in rows:
    # Acceder a los valores de cada columna
    id_tabla2 = row[0]
    columna1 = row[1]
    columna2 = row[2]
    
    # Realizar las operaciones deseadas con los datos de la fila
    print(f"ID tabla2: {id_tabla2}, Columna 1: {columna1}, Columna 2: {columna2}")

OperationalError: no such column: id_tabla1

In [ ]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
cursor = conexion.cursor()

# Nombre de la imagen y ruta a buscar
nombre_imagen = 'DJI_0010.JPG'
ruta = 'D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN'

# Ejecutar la consulta
cursor.execute("SELECT * FROM tabla_imagenes AS ti JOIN resultado_imagen AS ri ON ti.id = ri.id_tabla_imagenes WHERE ti.nombre_imagen = ? AND ti.id_registro_carpeta IN (SELECT id FROM registro_carpeta WHERE ruta_carpeta = ?)", (nombre_imagen, ruta))
rows = cursor.fetchall()

# Recorrer y mostrar los resultados
for row in rows:
    # Acceder a los valores de las columnas
    id_tabla_imagenes = row[0]
    # ...
    # Acceder a los valores de las columnas de resultado_imagen
    pixel_min = row[7]
    pixel_max = row[8]
    latitud = row[9]
    longitud = row[10]
    score = row[11]

    # Hacer algo con los valores obtenidos

# Cerrar la conexión
conexion.close()