In [2]:
import sqlite3

In [41]:
conn = sqlite3.connect('./test.db')
cursor = conn.cursor()

# Ejecutar la consulta SELECT *
cursor.execute("SELECT * FROM resultado_imagen")

# Obtener los resultados de la consulta
resultados = cursor.fetchall()
print(resultados)

# Recorrer los resultados e imprimir los valores
print(resultados[1][3])
for indice,recorrido in enumerate(resultados):
    if (resultados[indice][3]=="2023-05-23 14:52:58.694936"):
        print(resultados[indice][0])
# Cerrar la conexión
conn.close()

[(1, '[199, 1240]', '[289, 1299]', '[10.7999463]', '[-74.20335997]', 0.9248143434524536, 2), (2, '[221, 647]', '[306, 729]', '[10.8000284]', '[-74.20335729]', 0.6331658363342285, 2), (3, '[6, 1116]', '[64, 1210]', '[10.79996125]', '[-74.20338946]', 0.19952894747257233, 2), (4, '[417, 65]', '[505, 128]', '[10.80011177]', '[-74.20332936]', 0.16567888855934143, 2), (5, '[339, 977]', '[394, 1035]', '[10.80003789]', '[-74.20335423]', 0.998923122882843, 3), (6, '[362, 1142]', '[438, 1243]', '[10.80001163]', '[-74.20334958]', 0.9954277276992798, 3), (7, '[829, 76]', '[919, 135]', '[10.80016507]', '[-74.20328267]', 0.9758849143981934, 3), (8, '[373, 1096]', '[453, 1140]', '[10.80002222]', '[-74.2033476]', 0.9313584566116332, 3), (9, '[844, 1202]', '[887, 1279]', '[10.80000485]', '[-74.20328379]', 0.5765292644500732, 3), (10, '[566, 1200]', '[589, 1237]', '[10.80000796]', '[-74.20332445]', 0.5140727162361145, 3), (11, '[630, 611]', '[666, 686]', '[10.80008842]', '[-74.20331443]', 0.4386324882507324, 3), (12, '[71, 1052]', '[110, 1142]', '[10.80002504]', '[-74.2033932]', 0.3352983593940735, 3), (13, '[10, 1031]', '[74, 1097]', '[10.8000297]', '[-74.20340011]', 0.10011758655309676, 3), (14, '[891, 111]', '[991, 158]', '[10.80016098]', '[-74.20327307]', 0.050947405397892, 3), (15, '[479, 1156]', '[556, 1237]', '[10.79998505]', '[-74.20345941]', 0.99449360370636, 4), (16, '[393, 491]', '[487, 545]', '[10.80008103]', '[-74.20347044]', 0.988591492176056, 4), (17, '[739, 856]', '[790, 930]', '[10.80002802]', '[-74.2034245]', 0.9858853816986084, 4), (18, '[3, 484]', '[79, 563]', '[10.80008018]', '[-74.20352669]', 0.9810950756072998, 4), (19, '[159, 909]', '[247, 944]', '[10.80002322]', '[-74.2035038]', 0.9709209203720092, 4), (20, '[510, 696]', '[577, 751]', '[10.80005191]', '[-74.20345574]', 0.953380048274994, 4), (21, '[552, 245]', '[613, 281]', '[10.80011693]', '[-74.20345022]', 0.8920249342918396, 4), (22, '[714, 402]', '[786, 443]', '[10.80009446]', '[-74.20342662]', 0.8822577595710754, 4), (23, '[747, 494]', '[809, 586]', '[10.80007792]', '[-74.20342252]', 0.8205114006996155, 4), (24, '[211, 633]', '[309, 688]', '[10.80006082]', '[-74.20349574]', 0.8052705526351929, 4), (25, '[196, 439]', '[237, 503]', '[10.80008767]', '[-74.20350196]', 0.7630263566970825, 4), (26, '[355, 333]', '[417, 376]', '[10.80010407]', '[-74.20347807]', 0.7452625036239624, 4), (27, '[477, 1144]', '[518, 1232]', '[10.79998618]', '[-74.20346224]', 0.543972373008728, 4), (28, '[506, 1110]', '[597, 1164]', '[10.79999339]', '[-74.20345461]', 0.4679100513458252, 4), (29, '[465, 1002]', '[519, 1110]', '[10.80000484]', '[-74.20346295]', 0.44673067331314087, 4), (30, '[608, 296]', '[684, 370]', '[10.80010718]', '[-74.20344118]', 0.4198640286922455, 4), (31, '[215, 648]', '[341, 714]', '[10.80005785]', '[-74.20349334]', 0.3881855905056, 4), (32, '[365, 46]', '[475, 85]', '[10.80014492]', '[-74.20347312]', 0.3102216124534607, 4), (33, '[261, 660]', '[340, 718]', '[10.80005686]', '[-74.20349009]', 0.2617016136646271, 4), (34, '[665, 565]', '[749, 611]', '[10.80007099]', '[-74.2034327]', 0.18425016105175016, 4), (35, '[483, 495]', '[530, 616]', '[10.80007566]', '[-74.20346097]', 0.06601788848638535, 4), (36, '[210, 1230]', '[289, 1299]', '[10.79981858]', '[-74.20346682]', 0.07063771039247513, 5), (37, '[275, 1014]', '[311, 1054]', '[10.79985113]', '[-74.20346059]', 0.05888858810067177, 5), (38, '[1202, 1113]', '[1289, 1194]', '[10.79967664]', '[-74.20329287]', 0.9987571239471436, 6), (39, '[614, 849]', '[657, 929]', '[10.79971399]', '[-74.20337918]', 0.9955710768699646, 6), (40, '[1314, 370]', '[1361, 446]', '[10.79978205]', '[-74.20327985]', 0.7528294324874878, 6), (41, '[1165, 247]', '[1221, 321]', '[10.79979974]', '[-74.20330022]', 0.21986640989780423, 6), (42, '[1231, 959]', '[1272, 1020]', '[10.79969984]', '[-74.20329202]', 0.08339998871088028, 6), (43, '[1323, 956]', '[1439, 1049]', '[10.79959176]', '[-74.20325187]', 0.9972966313362122, 7), (44, '[347, 1112]', '[451, 1182]', '[10.79957144]', '[-74.20339031]', 0.9970982074737548, 7), (45, '[471, 965]', '[540, 1018]', '[10.79959331]', '[-74.20337535]', 0.966328501701355, 7), (46, '[677, 1223]', '[716, 1295]', '[10.79955563]', '[-74.2033484]', 0.9470027089118958, 7), (47, '[212, 1154]', '[265, 1233]', '[10.7995648]', '[-74.20341303]', 0.9198746085166932, 7), (48, '[1064, 45]', '[1140, 127]', '[10.79972102]', '[-74.2032911]', 0.886681079864502, 7), (49, '[527, 1102]', '[627, 1157]', '[10.79957384]', '[-74.20336533]', 0.4452161192893982, 7), (50, '[1403, 1210]', '[1502, 1262]', '[10.79955874]', '[-74.20324171]', 0.3993055522441864, 7), (51, '[678, 717]', '[718, 802]', '[10.79962605]', '[-74.20334825]', 0.23880209028720856, 7), (52, '[1279, 2]', '[1325, 83]', '[10.79972723]', '[-74.20326302]', 0.09201177209615707, 7)]
[10.8000284]

In [3]:
conn = sqlite3.connect('./test.db')
cursor = conn.cursor()

# Ejecutar la consulta SELECT *
cursor.execute("SELECT * FROM registro_carpeta")

# Obtener los resultados de la consulta
resultados = cursor.fetchall()

# Recorrer los resultados e imprimir los valores
for fila in resultados:
    for valor in fila:
        print(valor)
    print()

# Cerrar la conexión
conn.close()

1
12
C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/101FPLAN
2023-05-27 16:11:23.745799

2
12
C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/carp_pocas
2023-05-27 16:19:19.491015

In [20]:
import sqlite3

# Conectar a la base de datos
conexion = sqlite3.connect('./test.db')
cursor = conexion.cursor()

# Definir los valores de nombre_imagen y id_registro_carpeta
nombre_imagen = "DJI_0050.JPG"
id_registro_carpeta = 8

# Consultar el id de la fila con nombre_imagen y id_registro_carpeta especificados
cursor.execute("SELECT id FROM tabla_imagenes WHERE nombre_imagen = ? AND id_registro_carpeta = ?", (nombre_imagen, id_registro_carpeta))
resultado = cursor.fetchone()

if resultado is not None:
    id_fila = resultado[0]
    print(f"El id de la fila con nombre_imagen '{nombre_imagen}' y id_registro_carpeta {id_registro_carpeta} es: {id_fila}")
else:
    print("No se encontró ninguna fila con los criterios especificados")

# Cerrar la conexión
conexion.close()

No se encontró ninguna fila con los criterios especificados

In [21]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
cursor = conexion.cursor()

# Nombre a buscar
nombre = "D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN"

# Ejecutar la consulta
cursor.execute("SELECT id FROM registro_carpeta WHERE ruta_carpeta = ?", (nombre,))
row = cursor.fetchone()

if row is not None:
    id_encontrado = row[0]
    print(f"ID encontrado: {id_encontrado}")
else:
    print("No se encontró ningún ID para el nombre especificado")

# Cerrar la conexión
conexion.close()

ID encontrado: 1

In [11]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
conexion.execute("PRAGMA foreign_keys = 1")

id_tabla1 = 3  # ID del registro de tabla1

cursor = conexion.cursor()
cursor.execute("SELECT * FROM tabla_imagenes WHERE id_tabla1 = ?", (id_tabla1,))
rows = cursor.fetchall()

for row in rows:
    # Acceder a los valores de cada columna
    id_tabla2 = row[0]
    columna1 = row[1]
    columna2 = row[2]
    
    # Realizar las operaciones deseadas con los datos de la fila
    print(f"ID tabla2: {id_tabla2}, Columna 1: {columna1}, Columna 2: {columna2}")

OperationalError: no such column: id_tabla1

In [24]:
import sqlite3

# Establecer la conexión a la base de datos
conexion = sqlite3.connect('test.db')
cursor = conexion.cursor()

# Nombre de la imagen y ruta a buscar
nombre_imagen = 'DJI_0020.JPG'
ruta = 'D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN'

# Ejecutar la consulta
cursor.execute("SELECT * FROM tabla_imagenes AS ti JOIN resultado_imagen AS ri ON ti.id = ri.id_tabla_imagenes WHERE ti.nombre_imagen = ? AND ti.id_registro_carpeta IN (SELECT id FROM registro_carpeta WHERE ruta_carpeta = ?)", (nombre_imagen, ruta))
rows = cursor.fetchall()
print(len(rows))
# Recorrer y mostrar los resultados
for row in rows:
    # Acceder a los valores de las columnas
    id_tabla_imagenes = row[0]
    # ...
    # Acceder a los valores de las columnas de resultado_imagen
    pixel_min = row[5]
    pixel_max = row[6]
    latitud = row[7]
    longitud = row[8]
    score = row[9]
    print(f"{pixel_max} - {pixel_min} - {latitud} - {longitud} - {score}")

    # Hacer algo con los valores obtenidos

# Cerrar la conexión
conexion.close()

4
[289, 1299] - [199, 1240] - [10.7999463] - [-74.20335997] - 0.9248143434524536
[306, 729] - [221, 647] - [10.8000284] - [-74.20335729] - 0.6331658363342285
[64, 1210] - [6, 1116] - [10.79996125] - [-74.20338946] - 0.19952894747257233
[505, 128] - [417, 65] - [10.80011177] - [-74.20332936] - 0.16567888855934143

In [31]:
pixel_min

'[417, 65]'

In [32]:
pixel_max

'[505, 128]'

In [33]:
# Eliminar los corchetes y dividir la cadena en números separados
numbers = pixel_min.strip('[]').split(',')

# Convertir los números de cadena a enteros
num1 = int(numbers[0])
num2 = int(numbers[1])

print(num1)  # Output: 417
print(num2)  # Output: 65

417
65

In [34]:
score

0.16567888855934143

In [39]:
lista_dic =[]
conexion = sqlite3.connect('./test.db')  # Reemplaza con el nombre de tu base de datos
cursor = conexion.cursor()
ruta_carpeta="D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN"
    # Consulta SQL para obtener los nombres de las imágenes y la cantidad de detecciones
consulta = '''
        SELECT i.nombre_imagen, i.cantidad_detect
        FROM tabla_imagenes AS i
        INNER JOIN registro_carpeta AS rc ON i.id_registro_carpeta = rc.id
        WHERE rc.ruta_carpeta = ?
    '''

    # Ejecutar la consulta y obtener los resultados
cursor.execute(consulta, (ruta_carpeta,))
resultados = cursor.fetchall()
conexion.close()

    # Recorrer los resultados e imprimir los nombres de las imágenes y la cantidad de detecciones
for nombre_imagen, cantidad_detect in resultados:
        #print(f'Imagen: {nombre_imagen}, Detecciones: {cantidad_detect}')
        diccionario = {"nombre": nombre_imagen, "n_detection": cantidad_detect}
        lista_dic.append(diccionario)
    # Cerrar la conexión


print(lista_dic)

Imagen: DJI_0010.JPG, Detecciones: 0
Imagen: DJI_0020.JPG, Detecciones: 4
Imagen: DJI_0030.JPG, Detecciones: 10
Imagen: DJI_0040.JPG, Detecciones: 21
Imagen: DJI_0050.JPG, Detecciones: 2
Imagen: DJI_0060.JPG, Detecciones: 5
Imagen: DJI_0070.JPG, Detecciones: 10
[{'nombre': 'DJI_0010.JPG', 'n_detection': 0}, {'nombre': 'DJI_0020.JPG', 'n_detection': 4}, {'nombre': 'DJI_0030.JPG', 'n_detection': 10}, {'nombre': 'DJI_0040.JPG', 'n_detection': 21}, {'nombre': 'DJI_0050.JPG', 'n_detection': 2}, {'nombre': 'DJI_0060.JPG', 'n_detection': 5}, {'nombre': 'DJI_0070.JPG', 'n_detection': 10}]

In [40]:
for indice,imagenes in enumerate(lista_dic):
    print(indice)
    print(imagenes)

0
{'nombre': 'DJI_0010.JPG', 'n_detection': 0}
1
{'nombre': 'DJI_0020.JPG', 'n_detection': 4}
2
{'nombre': 'DJI_0030.JPG', 'n_detection': 10}
3
{'nombre': 'DJI_0040.JPG', 'n_detection': 21}
4
{'nombre': 'DJI_0050.JPG', 'n_detection': 2}
5
{'nombre': 'DJI_0060.JPG', 'n_detection': 5}
6
{'nombre': 'DJI_0070.JPG', 'n_detection': 10}

In [48]:
import sqlite3

# Conectar a la base de datos
conexion = sqlite3.connect('test.db')  # Reemplaza con el nombre de tu base de datos
cursor = conexion.cursor()

# Definir los valores para nombre_imagen y ruta_carpeta
nombre_imagen = 'DJI_0050.JPG'  # Reemplaza con el nombre de la imagen deseada
ruta_carpeta = 'D:/Alexander_Espinosa/Tesis_Maestria/data/Salida_13_03_23/Dron/100FPLAN'  # Reemplaza con la ruta de la carpeta deseada

# Consulta SQL para obtener los datos de resultado_imagen relacionados con nombre_imagen y ruta_carpeta
consulta = '''
    SELECT ri.*
    FROM resultado_imagen AS ri
    INNER JOIN tabla_imagenes AS ti ON ri.id_tabla_imagenes = ti.id
    INNER JOIN registro_carpeta AS rc ON ti.id_registro_carpeta = rc.id
    WHERE ti.nombre_imagen = ? AND rc.ruta_carpeta = ?
'''

# Ejecutar la consulta y obtener los resultados
cursor.execute(consulta, (nombre_imagen, ruta_carpeta))
resultados = cursor.fetchall()
conexion.close()
lista_dic=[]
# Recorrer los resultados y procesar los datos
for resultado in resultados:
    # Acceder a los campos de la tabla resultado_imagen
    id_resultado = resultado[0]
    pixel_min = resultado[1]
    pixel_max = resultado[2]
    latitud = resultado[3]
    longitud = resultado[4]
    score = resultado[5]
    id_tabla_imagenes = resultado[6]
    print(pixel_max)
    print(pixel_min)
    print(score)
    # Hacer algo con los datos...
    diccionario = {"pixel_min": nombre_imagen, "pixel_max": cantidad_detect, "lat":latitud,"long":longitud}
    lista_dic.append(diccionario)

# Cerrar la conexión

[289, 1299]
[210, 1230]
0.07063771039247513
[311, 1054]
[275, 1014]
0.05888858810067177

In [7]:
def obtener_resultados_por_ruta_carpeta(ruta_carpeta):
    conexion = sqlite3.connect("test.db")  # Reemplaza con el nombre de tu base de datos
    cursor = conexion.cursor()

    # Realizar la consulta utilizando JOIN para combinar las tablas
    consulta = '''SELECT r.*
                  FROM resultado_imagen r
                  INNER JOIN tabla_imagenes t ON r.id_tabla_imagenes = t.id
                  INNER JOIN registro_carpeta rc ON t.id_registro_carpeta = rc.id
                  WHERE rc.ruta_carpeta = ?'''
    
    cursor.execute(consulta, (ruta_carpeta,))
    resultados = cursor.fetchall()

    conexion.close()

    return resultados

# Ejemplo de uso
ruta_carpeta = "C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/carp_pocas"
resultados = obtener_resultados_por_ruta_carpeta(ruta_carpeta)
lista=[]
# Recorrer los resultados obtenidos
for resultado in resultados:
    # Procesar cada fila de resultado
    print(resultado)
#Asegúrate de reemplazar "tu_base_de_datos.db" con el nombre y ubicación de tu base de datos SQLite. La función obtener_resultados_por_ruta_carpeta recibe la ruta_carpeta como parámetro y devuelve una lista de todas las filas de la tabla resultado_imagen asociadas a esa ruta_carpeta. Puedes ajustar la consulta SQL según la estructura de tus tablas y los nombres de tus columnas en la base de datos.

(45, '[652, 176]', '[706, 222]', '[10.55179803]', '[-74.22023189]', 0.9380086064338684, 13)
(46, '[1334, 380]', '[1392, 423]', '[10.55174085]', '[-74.22003948]', 0.7570663094520569, 13)
(47, '[837, 458]', '[891, 514]', '[10.5517169]', '[-74.22018005]', 0.6369180679321289, 13)
(48, '[1128, 1164]', '[1155, 1217]', '[10.55151858]', '[-74.22010174]', 0.3051478862762451, 13)
(49, '[352, 757]', '[420, 856]', '[10.55162675]', '[-74.22031443]', 0.15195727348327637, 13)
(50, '[1098, 543]', '[1135, 584]', '[10.55169521]', '[-74.22010878]', 0.10855790227651596, 13)
(51, '[432, 918]', '[477, 969]', '[10.55149653]', '[-74.22028893]', 0.989431619644165, 14)
(52, '[332, 187]', '[398, 249]', '[10.55170156]', '[-74.2203141]', 0.9551725387573242, 14)
(53, '[186, 633]', '[216, 692]', '[10.551576]', '[-74.22036047]', 0.3862218558788299, 14)
(54, '[1023, 907]', '[1108, 943]', '[10.55150162]', '[-74.22011614]', 0.3529794216156006, 14)
(55, '[751, 549]', '[789, 592]', '[10.55160201]', '[-74.22019985]', 0.22946268320083615, 14)
(56, '[375, 1100]', '[449, 1162]', '[10.55144365]', '[-74.22030109]', 0.07887149602174759, 14)
(57, '[327, 288]', '[382, 338]', '[10.55158429]', '[-74.22030823]', 0.97493714094162, 15)
(58, '[408, 563]', '[462, 605]', '[10.55150734]', '[-74.2202856]', 0.7947855591773987, 15)
(59, '[911, 555]', '[991, 613]', '[10.55150734]', '[-74.22013934]', 0.7093610167503357, 15)
(60, '[121, 919]', '[167, 974]', '[10.55140493]', '[-74.22036792]', 0.6116582751274109, 15)
(61, '[376, 1057]', '[456, 1109]', '[10.55136618]', '[-74.22029097]', 0.08719734102487564, 15)
(62, '[33, 316]', '[82, 366]', '[10.55148503]', '[-74.22038339]', 0.9160652160644532, 16)
(63, '[520, 824]', '[592, 865]', '[10.55134248]', '[-74.22024225]', 0.2164778858423233, 16)
(64, '[1075, 581]', '[1178, 640]', '[10.55122607]', '[-74.2200627]', 0.2605651915073395, 18)
(65, '[377, 1081]', '[427, 1148]', '[10.55108357]', '[-74.2202677]', 0.06705887615680695, 18)
(66, '[1097, 556]', '[1160, 608]', '[10.55114253]', '[-74.22005342]', 0.8861113786697388, 19)
(67, '[1344, 1114]', '[1387, 1229]', '[10.55097607]', '[-74.21998644]', 0.10637329518795012, 19)
(68, '[1216, 290]', '[1278, 318]', '[10.55122109]', '[-74.22002007]', 0.08150672912597656, 19)
(69, '[1250, 1143]', '[1315, 1252]', '[10.55096872]', '[-74.22000989]', 0.05876573175191879, 19)
(70, '[306, 1077]', '[363, 1133]', '[10.55099501]', '[-74.2202778]', 0.050870493054389954, 19)
(71, '[1536, 1155]', '[1578, 1250]', '[10.55093489]', '[-74.21992918]', 0.1781286597251892, 20)
(72, '[842, 609]', '[901, 639]', '[10.55109815]', '[-74.22012295]', 0.050901148468256, 20)
(73, '[720, 326]', '[806, 392]', '[10.55119034]', '[-74.22023023]', 0.9768309593200684, 21)
(74, '[265, 819]', '[325, 897]', '[10.55104967]', '[-74.22036271]', 0.7964666485786438, 21)
(75, '[948, 330]', '[986, 371]', '[10.55119288]', '[-74.22017289]', 0.7792662382125854, 21)
(76, '[494, 524]', '[524, 601]', '[10.551133]', '[-74.22030198]', 0.3932992219924927, 21)
(77, '[1353, 1032]', '[1449, 1095]', '[10.55099148]', '[-74.22005002]', 0.38630393147468567, 21)
(78, '[1175, 40]', '[1236, 82]', '[10.55127479]', '[-74.22010538]', 0.05778948590159416, 21)
(79, '[582, 806]', '[642, 883]', '[10.55114396]', '[-74.22028421]', 0.6411946415901184, 22)
(80, '[757, 837]', '[800, 894]', '[10.55113803]', '[-74.22023708]', 0.26861682534217834, 22)
(81, '[895, 1010]', '[937, 1068]', '[10.5510892]', '[-74.22019841]', 0.20438972115516665, 22)
(82, '[737, 840]', '[799, 915]', '[10.55113464]', '[-74.22024018]', 0.15467287600040436, 22)
(83, '[590, 957]', '[651, 1009]', '[10.55110473]', '[-74.22028167]', 0.13592466711997986, 22)
(84, '[817, 1042]', '[867, 1084]', '[10.55108243]', '[-74.2202193]', 0.1039341539144516, 22)
(85, '[154, 802]', '[211, 837]', '[10.55124265]', '[-74.2204127]', 0.24493879079818728, 23)
(86, '[586, 1130]', '[627, 1183]', '[10.55114762]', '[-74.22029314]', 0.06813932210206985, 23)
(87, '[1342, 329]', '[1406, 370]', '[10.55137519]', '[-74.22007656]', 0.05978143587708473, 23)
(88, '[343, 801]', '[385, 838]', '[10.55130038]', '[-74.22036681]', 0.8844942450523376, 24)

In [8]:
import sqlite3

def obtener_latitudes_longitudes_por_ruta_carpeta(ruta_carpeta):
    conexion = sqlite3.connect("test.db")  # Reemplaza con el nombre de tu base de datos
    cursor = conexion.cursor()

    # Realizar la consulta utilizando JOIN para combinar las tablas
    consulta = '''SELECT r.latitud, r.longitud
                  FROM resultado_imagen r
                  INNER JOIN tabla_imagenes t ON r.id_tabla_imagenes = t.id
                  INNER JOIN registro_carpeta rc ON t.id_registro_carpeta = rc.id
                  WHERE rc.ruta_carpeta = ?'''
    
    cursor.execute(consulta, (ruta_carpeta,))
    resultados = cursor.fetchall()

    conexion.close()

    # Crear una lista con las latitudes y longitudes
    latitudes_longitudes = [(latitud, longitud) for latitud, longitud in resultados]

    return latitudes_longitudes

# Ejemplo de uso
ruta_carpeta = "C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/carp_pocas"
latitudes_longitudes = obtener_latitudes_longitudes_por_ruta_carpeta(ruta_carpeta)

# Imprimir la lista de latitudes y longitudes
for latitud, longitud in latitudes_longitudes:
    print(f"Latitud: {latitud}, Longitud: {longitud}")

Latitud: [10.55179803], Longitud: [-74.22023189]
Latitud: [10.55174085], Longitud: [-74.22003948]
Latitud: [10.5517169], Longitud: [-74.22018005]
Latitud: [10.55151858], Longitud: [-74.22010174]
Latitud: [10.55162675], Longitud: [-74.22031443]
Latitud: [10.55169521], Longitud: [-74.22010878]
Latitud: [10.55149653], Longitud: [-74.22028893]
Latitud: [10.55170156], Longitud: [-74.2203141]
Latitud: [10.551576], Longitud: [-74.22036047]
Latitud: [10.55150162], Longitud: [-74.22011614]
Latitud: [10.55160201], Longitud: [-74.22019985]
Latitud: [10.55144365], Longitud: [-74.22030109]
Latitud: [10.55158429], Longitud: [-74.22030823]
Latitud: [10.55150734], Longitud: [-74.2202856]
Latitud: [10.55150734], Longitud: [-74.22013934]
Latitud: [10.55140493], Longitud: [-74.22036792]
Latitud: [10.55136618], Longitud: [-74.22029097]
Latitud: [10.55148503], Longitud: [-74.22038339]
Latitud: [10.55134248], Longitud: [-74.22024225]
Latitud: [10.55122607], Longitud: [-74.2200627]
Latitud: [10.55108357], Longitud: [-74.2202677]
Latitud: [10.55114253], Longitud: [-74.22005342]
Latitud: [10.55097607], Longitud: [-74.21998644]
Latitud: [10.55122109], Longitud: [-74.22002007]
Latitud: [10.55096872], Longitud: [-74.22000989]
Latitud: [10.55099501], Longitud: [-74.2202778]
Latitud: [10.55093489], Longitud: [-74.21992918]
Latitud: [10.55109815], Longitud: [-74.22012295]
Latitud: [10.55119034], Longitud: [-74.22023023]
Latitud: [10.55104967], Longitud: [-74.22036271]
Latitud: [10.55119288], Longitud: [-74.22017289]
Latitud: [10.551133], Longitud: [-74.22030198]
Latitud: [10.55099148], Longitud: [-74.22005002]
Latitud: [10.55127479], Longitud: [-74.22010538]
Latitud: [10.55114396], Longitud: [-74.22028421]
Latitud: [10.55113803], Longitud: [-74.22023708]
Latitud: [10.5510892], Longitud: [-74.22019841]
Latitud: [10.55113464], Longitud: [-74.22024018]
Latitud: [10.55110473], Longitud: [-74.22028167]
Latitud: [10.55108243], Longitud: [-74.2202193]
Latitud: [10.55124265], Longitud: [-74.2204127]
Latitud: [10.55114762], Longitud: [-74.22029314]
Latitud: [10.55137519], Longitud: [-74.22007656]
Latitud: [10.55130038], Longitud: [-74.22036681]

In [9]:
latitudes_longitudes

[('[10.55179803]', '[-74.22023189]'),
 ('[10.55174085]', '[-74.22003948]'),
 ('[10.5517169]', '[-74.22018005]'),
 ('[10.55151858]', '[-74.22010174]'),
 ('[10.55162675]', '[-74.22031443]'),
 ('[10.55169521]', '[-74.22010878]'),
 ('[10.55149653]', '[-74.22028893]'),
 ('[10.55170156]', '[-74.2203141]'),
 ('[10.551576]', '[-74.22036047]'),
 ('[10.55150162]', '[-74.22011614]'),
 ('[10.55160201]', '[-74.22019985]'),
 ('[10.55144365]', '[-74.22030109]'),
 ('[10.55158429]', '[-74.22030823]'),
 ('[10.55150734]', '[-74.2202856]'),
 ('[10.55150734]', '[-74.22013934]'),
 ('[10.55140493]', '[-74.22036792]'),
 ('[10.55136618]', '[-74.22029097]'),
 ('[10.55148503]', '[-74.22038339]'),
 ('[10.55134248]', '[-74.22024225]'),
 ('[10.55122607]', '[-74.2200627]'),
 ('[10.55108357]', '[-74.2202677]'),
 ('[10.55114253]', '[-74.22005342]'),
 ('[10.55097607]', '[-74.21998644]'),
 ('[10.55122109]', '[-74.22002007]'),
 ('[10.55096872]', '[-74.22000989]'),
 ('[10.55099501]', '[-74.2202778]'),
 ('[10.55093489]', '[-74.21992918]'),
 ('[10.55109815]', '[-74.22012295]'),
 ('[10.55119034]', '[-74.22023023]'),
 ('[10.55104967]', '[-74.22036271]'),
 ('[10.55119288]', '[-74.22017289]'),
 ('[10.551133]', '[-74.22030198]'),
 ('[10.55099148]', '[-74.22005002]'),
 ('[10.55127479]', '[-74.22010538]'),
 ('[10.55114396]', '[-74.22028421]'),
 ('[10.55113803]', '[-74.22023708]'),
 ('[10.5510892]', '[-74.22019841]'),
 ('[10.55113464]', '[-74.22024018]'),
 ('[10.55110473]', '[-74.22028167]'),
 ('[10.55108243]', '[-74.2202193]'),
 ('[10.55124265]', '[-74.2204127]'),
 ('[10.55114762]', '[-74.22029314]'),
 ('[10.55137519]', '[-74.22007656]'),
 ('[10.55130038]', '[-74.22036681]')]

In [11]:
import shapefile
import csv

def convertir_a_shapefile(latitudes_longitudes, nombre_archivo):
    w = shapefile.Writer(nombre_archivo, shapeType=shapefile.POINT)
    w.field('Latitud', 'F', decimal=10)
    w.field('Longitud', 'F', decimal=10)

    for latitud, longitud in latitudes_longitudes:
        latitud = float(latitud.strip('[]'))
        longitud = float(longitud.strip('[]'))
        w.point(longitud, latitud)
        w.record(latitud, longitud)

    w.close()

def enumerar_en_csv(latitudes_longitudes, nombre_archivo):
    with open(nombre_archivo, 'w', newline='') as archivo_csv:
        writer = csv.writer(archivo_csv)
        writer.writerow(['Latitud', 'Longitud'])
        for latitud, longitud in latitudes_longitudes:
            writer.writerow([latitud.strip('[]'), longitud.strip('[]')])

In [12]:
convertir_a_shapefile(latitudes_longitudes, 'puntos.shp')

# Enumerar en archivo CSV
enumerar_en_csv(latitudes_longitudes, 'coordenadas.csv')

In [4]:
def consultar_fecha_por_direccion_carpeta(direccion_carpeta):
    # Establecer conexión con la base de datos
    conexion = sqlite3.connect('test.db')  # Reemplaza con el nombre de tu base de datos

    # Crear un cursor
    cursor = conexion.cursor()

    # Ejecutar la consulta para obtener la fecha asociada a la dirección de carpeta
    cursor.execute("SELECT fecha FROM registro_carpeta WHERE ruta_carpeta = ?", (direccion_carpeta,))
    
    # Obtener el resultado de la consulta
    resultado = cursor.fetchone()

    # Cerrar la conexión con la base de datos
    conexion.close()

    if resultado:
        fecha = resultado[0]
        return fecha
    else:
        return None

# Ejemplo de uso
direccion_carpeta = "C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/carp_pocas"
fecha = consultar_fecha_por_direccion_carpeta(direccion_carpeta)

if fecha:
    print(f"La fecha asociada a la carpeta {direccion_carpeta} es: {fecha}")
else:
    print(f"No se encontró ninguna fecha para la carpeta {direccion_carpeta}")

La fecha asociada a la carpeta C:/Users/USUARIO/Documents/tesis/prueba_guide/prueba_imagenes/carp_pocas es: 2023-05-27 16:19:19.491015

In [ ]:
def crear_carpeta_con_fecha(direccion_carpeta):
    # Establecer conexión con la base de datos
    conexion = sqlite3.connect('test.db')  # Reemplaza con el nombre de tu base de datos

    # Crear un cursor
    cursor = conexion.cursor()

    # Ejecutar la consulta para obtener la fecha asociada a la dirección de carpeta
    cursor.execute("SELECT fecha FROM registro_carpeta WHERE ruta_carpeta = ?", (direccion_carpeta,))

    # Obtener el resultado de la consulta
    resultado = cursor.fetchone()

    # Cerrar la conexión con la base de datos
    conexion.close()

    if resultado:
        fecha = resultado[0]

        # Crear la carpeta con el nombre de la fecha
        carpeta_fecha = os.path.join(direccion_carpeta, fecha)

        # Verificar si la carpeta ya existe
        if not os.path.exists(carpeta_fecha):
            os.makedirs(carpeta_fecha)
            print(f"Se ha creado la carpeta {carpeta_fecha}")
        else:
            print(f"La carpeta {carpeta_fecha} ya existe")
    else:
        print(f"No se encontró ninguna fecha para la carpeta {direccion_carpeta}")

# Ejemplo de uso
direccion_carpeta = "/ruta/a/la/carpeta"
crear_carpeta_con_fecha(direccion_carpeta)